##################################
#First Robotics java .gitignore
#Team 1073
##################################

#For Robot Builder Temporary Files
*~
~*

#Other Various Files & Operating System 
bin/
build/
dist/
*.class
.classpath
build\
dist\
\build\
\dist\

	#OS related
	.DS_STORE
	.Thumbs.db
	Desktop.ini
	$RECYCLE.BIN/
	.localized


